body {
  font-family: 'Mulish', sans-serif;
}

.bg-blogs {
  background-color: #F7F9F8;
}

.text-biru {
  color: #5AA9E6;
}

.text-biru-muda {
  color: #7FC8F8;
}

.text-abu-putih {
  color: #F9F9F9;
}

.text-kuning {
  color: #FFE45E;
}

.text-pink {
  color: #FF6392;
}

.bg-biru {
  background-color: #5AA9E6;
}

.bg-biru-muda {
  background-color: #7FC8F8;
}

.bg-abu-putih {
  background-color: #F9F9F9;
}

.bg-kuning {
  background-color: #FFE45E;
}

.bg-pink {
  background-color: #FF6392;
}

.navbar {
  font-size: 16px;
  margin-bottom: 70px;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #000;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #5AA9E6;
  border-bottom: #5AA9E6;
}

.navbar .navbar-nav .active {
  color: #5AA9E6;
}

header {
  margin-top: 70px;
}

.btn-bg-biru {
  background-color: #5AA9E6;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}

.btn-bg-biru:hover {
  background-color: #7FC8F8;
  color: #fff;
}

.btn-bg-biru-outline {
  border: 1px solid #5AA9E6;
  color: #5AA9E6;
  font-weight: 700;
  font-size: 12px;
}

.btn-bg-biru-outline:hover {
  border: 1px solid #7FC8F8;
  color: #7FC8F8;
}

.text-nama {
  font-size: 20px;
}

.title-nama {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 35;
}

@media (min-width: 320px) and (max-width: 425px) {
  .text-nama {
    font-size: 16px;
  }
  .title-nama {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 30;
  }
  .btn-bg-biru {
    background-color: #5AA9E6;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
  }
  .btn-bg-biru:hover {
    background-color: #7FC8F8;
    color: #fff;
  }
  .btn-bg-biru-outline {
    border: 1px solid #5AA9E6;
    color: #000;
    font-weight: 700;
    font-size: 10px;
  }
  .btn-bg-biru-outline:hover {
    background-color: #7FC8F8;
    color: #fff;
  }
}

.section-about-me {
  margin-top: 30px;
}

.section-about-me .sub-title-about {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 22;
  margin: 0;
}

.section-about-me .title-about {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.section-about-me .list-interests {
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 425px) {
  .section-about-me .sub-title-about {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 28;
    margin: 0;
  }
  .section-about-me .title-about {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 22px;
  }
  .section-about-me .list-interests {
    font-size: 15px;
  }
  .section-about-me .text-about {
    font-size: 15px;
  }
}

.section-service {
  background: #5AA9E6;
  margin-top: 40px;
  padding-bottom: 30px;
  padding-top: 30px;
  min-height: 490px;
}

.section-service .sub-title-service {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 22;
  margin: 0;
}

.section-service .title-service {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #fff;
}

.section-service .list-service .icon {
  font-size: 80px;
}

.section-service .list-service .title-service {
  font-size: 18px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.section-service .list-service .text-service {
  font-size: 16px;
  font-weight: 300;
}

@media (min-width: 320px) and (max-width: 425px) {
  .section-service .sub-title-service {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 22;
    margin: 0;
  }
  .section-service .title-service {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
  }
  .section-service .list-service .icon {
    font-size: 60px;
  }
  .section-service .list-service .title-service {
    font-size: 18px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
  .section-service .list-service .text-service {
    font-size: 14px;
    font-weight: 300;
  }
}

.section-blog .sub-title-blog {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 22;
  margin: 0;
}

.section-blog .title-blog {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.section-blog .card {
  border: 0;
}

.section-blog .card .card-img-top {
  border-radius: 10px 10px 0 0;
}

.section-blog .section-blog-img {
  border-radius: 10px 10px 0 0;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-blog .card-img-overlay {
  margin-bottom: 0 !important;
  padding: 0;
}

.section-blog .card-img-overlay .card-title {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: 600;
}

.section-blog .card-img-overlay .card-text {
  border-radius: 0 100px 100px 0;
  padding: 3px 20px 3px 10px;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
}

.section-blog .title-artikel {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
}

.section-blog .text-artikel {
  text-align: justify;
}

@media (min-width: 320px) and (max-width: 768px) {
  .section-blog .sub-title-blog {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 22;
    margin: 0;
  }
  .section-blog .title-blog {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 22px;
  }
  .section-blog .card {
    border: 0;
  }
  .section-blog .card .card-img-top {
    border-radius: 10px 10px 0 0;
  }
  .section-blog .section-blog-img {
    border-radius: 10px 10px 0 0;
    max-height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-blog .card-img-overlay {
    margin-bottom: 0 !important;
    padding: 0;
  }
  .section-blog .card-img-overlay .card-title {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 8px;
    font-weight: 600;
  }
  .section-blog .card-img-overlay .card-text {
    border-radius: 0 100px 100px 0;
    padding: 3px 20px 3px 10px;
    margin-bottom: 10px;
    font-size: 8px;
    font-weight: 700;
    color: #fff;
  }
  .section-blog .title-artikel {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;
  }
  .section-blog .text-artikel {
    text-align: justify;
    font-size: 12px;
  }
}

.section-project .sub-title-project {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 22;
  margin: 0;
}

.section-project .title-project {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.section-project a {
  color: #000;
}

.section-project .img-hover-zoom {
  overflow: hidden;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 30vh;
}

.section-project .image-hover-zoom-animate img {
  -webkit-transition: -webkit-transform .5s, -webkit-filter 1.5s ease-in-out;
  transition: -webkit-transform .5s, -webkit-filter 1.5s ease-in-out;
  transition: transform .5s, filter 1.5s ease-in-out;
  transition: transform .5s, filter 1.5s ease-in-out, -webkit-transform .5s, -webkit-filter 1.5s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border-radius: 10px;
}

.section-project .image-hover-zoom-animate:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-project .nav-pills {
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 425px) {
  .section-project .sub-title-project {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 22;
    margin: 0;
  }
  .section-project .title-project {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 22px;
  }
}

.section-footer {
  background: #5AA9E6;
  min-height: 350px;
  margin-top: 70px;
}

.section-footer .text-logo {
  padding-top: 50px;
  font-size: 40px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.section-footer .text-footer {
  font-weight: 300;
  color: #fff;
  margin-top: 10px;
}

.section-footer .icon-footer {
  font-size: 30px;
  margin-top: 30px;
}

.section-footer .icon-footer a {
  color: #fff;
}

.section-footer .icon-footer a:hover {
  color: #FF6392;
}

.section-footer .text-copyright {
  margin-top: 40px;
  font-weight: 300;
  color: #fff;
}

.section-footer .btn-privacy {
  color: #5AA9E6;
  background-color: #fff;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: 600;
}

.section-footer .btn-privacy:hover {
  color: #FF6392;
  border: 1px solid #FF6392;
}

@media (min-width: 320px) and (max-width: 425px) {
  .section-footer .text-logo {
    padding-top: 50px;
    font-size: 40px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
  .section-footer .text-footer {
    font-weight: 300;
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
  }
  .section-footer .icon-footer {
    font-size: 25px;
    margin-top: 30px;
  }
  .section-footer .icon-footer a {
    color: #fff;
  }
  .section-footer .icon-footer a:hover {
    color: #FF6392;
  }
  .section-footer .text-copyright {
    margin-top: 40px;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
  }
  .section-footer .btn-privacy {
    color: #5AA9E6;
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .section-footer .btn-privacy:hover {
    color: #FF6392;
    border: 1px solid #FF6392;
  }
}

.section-detail-post {
  margin-top: 80px;
}

.section-detail-post .breadcrumb {
  background-color: #fff;
}

.section-detail-post .breadcrumb li a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.section-detail-post .breadcrumb li a:hover {
  color: #7FC8F8;
}

.section-detail-post .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: url(../image/kiri.svg);
  width: 14px;
  height: 14px;
}

.section-detail-post .rounded-post {
  border-radius: 10px;
}

.section-detail-post .title-related-post {
  color: #5AA9E6;
  font-weight: 700;
}

.section-detail-post .text-related-post {
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  color: #000;
  text-decoration: none;
  text-align: justify;
}

.section-detail-post .text-related-post:hover {
  color: #5AA9E6;
}

.section-detail-post .rounded-post-img {
  border-radius: 10px;
  width: 100%;
  max-height: 121px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-detail-post .img-photo-post img {
  width: 100%;
  max-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.section-detail-post .text-judul-post {
  font-size: 20px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.section-detail-post .nama-penulis {
  font-size: 16px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.section-detail-post .status-penulis {
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
}

.section-detail-post .tanggal-posting {
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
}

.section-detail-post .text-label-post {
  font-size: 10px;
  border-radius: 0;
  padding: 7px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  color: #fff;
}

.section-detail-post .img-photo-admin img {
  height: 55px;
  width: 55px;
}

.section-detail-post .table th,
.section-detail-post .table td {
  padding: 0;
}

.section-detail-post .isi-post-artikel {
  text-align: justify;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
}

.section-detail-post .has-search .form-control {
  padding-left: 2.375rem;
  border: 1px solid #5AA9E6;
}

.section-detail-post .has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #5AA9E6;
}

.section-detail-post .btn-kategori {
  font-size: 12px;
  border-radius: 0;
  padding: 5px !important;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  color: #fff;
}

.section-detail-post .btn-kategori:hover {
  background-color: #7FC8F8;
  color: #fff;
}

.section-detail-post .title-newsletter {
  font-size: 18px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #5AA9E6;
}

.section-detail-post .text-newsletter {
  font-size: 16px;
  font-family: 'Mulish', serif;
  font-weight: 400;
}

.section-detail-post .title-kategori {
  font-size: 18px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #5AA9E6;
  margin-bottom: 12px;
}

.section-detail-post .title-trending {
  font-size: 18px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #5AA9E6;
}

.section-detail-post .text-trending {
  font-size: 15px;
  font-family: 'Mulish', serif;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.section-detail-post .text-trending:hover {
  color: #5AA9E6;
}

@media (min-width: 320px) and (max-width: 425px) {
  .section-detail-post .text-judul-post {
    font-size: 14px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
  .section-detail-post .img-photo-admin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .section-detail-post .nama-penulis {
    font-size: 10px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
  .section-detail-post .status-penulis {
    font-size: 10px;
    font-family: 'Mulish', sans-serif;
  }
  .section-detail-post .tanggal-posting {
    font-size: 10px;
    font-family: 'Mulish', sans-serif;
  }
  .section-detail-post .text-label-post {
    font-size: 7px;
    padding: 5px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: #fff;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .section-detail-post .text-judul-post {
    font-size: 16px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
  .section-detail-post .img-photo-admin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .section-detail-post .nama-penulis {
    font-size: 12px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
  .section-detail-post .status-penulis {
    font-size: 12px;
    font-family: 'Mulish', sans-serif;
  }
  .section-detail-post .tanggal-posting {
    font-size: 12px;
    font-family: 'Mulish', sans-serif;
  }
  .section-detail-post .text-label-post {
    font-size: 8px;
    padding: 5px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: #fff;
  }
}

.section-post {
  margin-top: 80px;
}

.section-post .title-post {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

.section-post .title-post:hover {
  color: #5AA9E6;
}

.section-post .title-post-sm {
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

.section-post .title-post-sm:hover {
  color: #5AA9E6;
}

.section-post .text-post {
  text-align: justify;
}

.section-post .text-post-artikel {
  text-align: justify;
  font-size: 14px;
}

.section-post .card-img-overlay {
  margin-bottom: 0 !important;
  padding: 0;
}

.section-post .card-img-overlay .card-title {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: 600;
}

.section-post .card-img-overlay .card-text {
  border-radius: 0 100px 100px 0;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
}

.section-post .rounded-post {
  border-radius: 10px;
}

.section-post .rounded-post-img {
  border-radius: 10px 10px 0 0;
  max-height: 315px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-post .rounded-trending-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.section-post .img-photo-post img {
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.section-post .text-judul-post {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.section-post .text-judul-post:hover {
  color: #5AA9E6;
}

.section-post .nama-penulis {
  font-size: 12px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.section-post .status-penulis {
  font-size: 12px;
  font-family: 'Mulish', sans-serif;
}

.section-post .tanggal-posting {
  font-size: 10px;
  font-family: 'Mulish', sans-serif;
}

.section-post .text-label-post {
  font-size: 8px;
  border-radius: 0;
  padding: 4px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  color: #fff;
}

.section-post .img-photo-admin img {
  height: 30px;
  width: 30px;
}

.section-post .table th,
.section-post .table td {
  padding: 0;
}

.section-post .has-search .form-control {
  padding-left: 2.375rem;
  border: 1px solid #5AA9E6;
}

.section-post .has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #5AA9E6;
}

.section-post .btn-kategori {
  font-size: 12px;
  border-radius: 0;
  padding: 5px !important;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  color: #fff;
}

.section-post .btn-kategori:hover {
  background-color: #7FC8F8;
  color: #fff;
}

.section-post .title-newsletter {
  font-size: 18px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #5AA9E6;
}

.section-post .text-newsletter {
  font-size: 16px;
  font-family: 'Mulish', serif;
  font-weight: 400;
}

.section-post .title-kategori {
  font-size: 18px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #5AA9E6;
  margin-bottom: 12px;
}

.section-post .title-trending {
  font-size: 18px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #5AA9E6;
}

.section-post .text-trending {
  font-size: 15px;
  font-family: 'Mulish', serif;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.section-post .text-trending:hover {
  color: #5AA9E6;
}

.top-link {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: .25em;
  width: 42px;
  height: 42px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: all .25s;
  transition: all .25s;
}

.top-link.show {
  visibility: visible;
  opacity: 1;
}

.top-link.hide {
  visibility: hidden;
  opacity: 0;
}

.top-link svg {
  fill: #000;
  width: 22px;
  height: 22px;
}

.top-link:hover {
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.4);
}

.top-link:hover svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  vertical-align: middle;
  -webkit-transition: all .25s;
  transition: all .25s;
  fill: #000000;
}

.screen-reader-text {
  position: absolute;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000;
  -webkit-clip-path: none;
          clip-path: none;
  background-color: #eee;
  padding: 15px 23px 14px;
  width: auto;
  height: auto;
  text-decoration: none;
  line-height: normal;
  color: #444;
  font-size: 1em;
  clip: auto !important;
}

.pencarian .search {
  display: table;
}

.pencarian .search input {
  background: none;
  border: none;
  outline: none;
  width: 28px;
  min-width: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  line-height: 18px;
  margin: 5px 0;
  font-size: 14px;
  -webkit-appearance: none;
  font-family: 'Mukta Malar';
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  cursor: pointer;
  color: #5AA9E6;
}

.pencarian .search input + div {
  position: relative;
  height: 28px;
  width: 100%;
  margin: -28px 0 0 0;
}

.pencarian .search input + div svg {
  display: block;
  position: absolute;
  height: 28px;
  width: 160px;
  right: 0;
  top: 0;
  fill: none;
  stroke: #5AA9E6;
  stroke-width: 1.5px;
  stroke-dashoffset: 271.908;
  stroke-dasharray: 59 212.908;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.pencarian .search input:not(:placeholder-shown), .pencarian .search input:focus {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}

.pencarian .search input:not(:placeholder-shown) + div svg, .pencarian .search input:focus + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}

.pencarian ::-moz-selection {
  background: rgba(90, 169, 230, 0.2);
}

.pencarian ::selection {
  background: rgba(90, 169, 230, 0.2);
}

.pencarian ::-moz-selection {
  background: rgba(90, 169, 230, 0.2);
}

.section-login .form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.section-login .form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.section-login .form-label-group input {
  padding: .75rem;
}

.section-login .form-label-group label {
  padding: .75rem;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.section-login .form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.section-login .form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.section-login .form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.section-login .form-label-group input::placeholder {
  color: transparent;
}

.section-login .form-label-group input:not(:placeholder-shown) {
  padding-top: calc(.75rem + .75rem * (2 / 3));
  padding-bottom: calc(.75rem / 3);
}

.section-login .form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(.75rem / 3);
  padding-bottom: calc(.75rem / 3);
  font-size: 12px;
  color: #777;
}
/*# sourceMappingURL=main.css.map */